
body {
    font: 400 15px/22px "Ubuntu Mono";
      padding-top: 0px;
  padding-bottom: 20px
}

a:link { color: #d59c11 }
a:visited { color: #aaa164 }

/* changes */
.changes .timeline {
    border-left: 6px solid #555;
    margin-top: 25px;
}

.changes .marker {
    font-weight: bold;
    margin-left: -65px;
    
}

.changes .timeline .year2003:before {
    content: "2003 <";
}

.timeline .year2003 img {
    margin-left: 16px !important;
}

.changes .timeline p:first-of-type {
    margin-top: -25px;
}

.changes #col2 img {
    box-shadow: 1px 9px 6px #999999;
    margin-left: 13px;
    width: 140px;
}

.changes #tile2 {
    opacity: 0.7;
}    
    
.changes #tile2 .details {
    margin-left: 0;
    position: relative;
    margin-top: -19px;
}

/* builds */
#builds #tile3 {
    opacity: 0.7;
}    
    
#builds #tile3 .details {
    margin-left: 0;
    position: relative;
    margin-top: -19px;
}

#col1 article>p:first-of-type {
    font-weight: bold;
}

/* shapes */
#shapes #tile4 {
    opacity: 0.7;
}    
    
#shapes #tile4 .details {
    margin-left: 0;
    position: relative;
    margin-top: -19px;
}

/* opensource */
#opensource .col1 {
    width: 600px;
}

#opensource #tile3 {
    opacity: 0.7;
}    
    
#opensource #tile3 .details {
    margin-left: 0;
    position: relative;
    margin-top: -19px;
}

#subheader {
    margin: 30px 0 0 0;
    text-align: center;
    width: 100%;
}

/*
 * 
 * STANDARD BUTTONS
 * 
 */


/*
 *  HEADER
 */

.tile:hover {
    cursor: pointer;
    opacity: 0.7;
}

.tile .details {
    left: 0;
    color: #000;
    font-weight: bold;
    padding-top: 50px;
    margin-left: -200px;
    text-align: center;
    background-color: transparent;
    position: absolute;
    top: 0;
}

.tile:hover .details {
    margin-left: 0;
    position: relative;
    margin-top: -19px;
}
 
#header .tile {
    -moz-box-shadow: 3px 3px 3px #aaaaaa;
    -webkit-box-shadow: 3px 3px 3px #aaaaaa;
    box-shadow: 3px 3px 3px #aaaaaa;
    margin-right: 40px;
}

#tile1 {
    background-image: url("/images/headshot.jpg");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 64px auto;
    border: 5px solid #555;
    border-radius: 20px 20px 20px 20px;
    height: 64px;
    width: 64px;
}

#tile2 {
    background-image: url("/images/pines.jpg");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 620px auto;
    border: 5px solid #555;
    border-radius: 20px 20px 20px 20px;
    height: 300px;
    width: 320px;
    margin-bottom: 20px;    
}

#tile3 {
    background-image: url("/images/pines.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 620px auto;
    border: 5px solid #555;
    border-radius: 20px 20px 20px 20px;
    height: 300px;
    width: 320px;
    margin-bottom: 20px;
    
}

#tile4 {
    background-image: url("/images/pines.jpg");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 620px auto;
    border: 5px solid #555;
    border-radius: 20px 20px 20px 20px;
    height: 300px;
    width: 320px;
    margin-bottom: 20px;  
}

#header #tile5 {
    background-image: url("/images/pines.jpg");
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 620px auto;
    border: 5px solid #555;
    border-radius: 20px 20px 20px 20px;
    height: 120px;
    width: 120px;
    float: left;    
}

#header #connect {
    border-top: 0px solid #000000;
    width: 65px;
    margin-top: 60px;
    float: left;
}

/*
 * 
 * JELLYFISH
 * 
 */
.jellyfish #strings {
    position: relative;
    left: -24px;
}

.jellyfish #splash {
    background-image: url("/images/splash.jpg");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 600px auto;
    border-left: 10px solid #000000;
    border-radius: 290px 290px 0 0;
    border-right: 10px solid #000000;
    border-top: 10px solid #000000;
    height: 268px;
    left: 160px;
    margin-top: -140px;
    position: relative;
    top: 200px;
    width: 525px;
}

.jellyfish #splash2 {
    background-image: url("/images/splash.jpg");
    border-radius: 0px 0px 40px 40px;

    border-top: 10px solid #000000;
    border-left: 10px solid #000000;
    border-right: 10px solid #000000;
    border-bottom: 10px solid #000000;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 600px auto;
    height: 100px;
    left: 160px;
    margin-top: 220px;
    position: relative;
    top: -20px;
    width: 525px;
}

.jellyfish #string1 {
    border-left: 15px solid #000000;
    border-radius: 0 0 0 553px;
    height: 425px;
    left: 295px;
    margin-top: -16px;
    position: relative;
    top: -23px;
    width: 600px;
}
.jellyfish #string2 {
    border-left: 15px solid #000000;
    border-radius: 0 0 0 353px;
    height: 425px;
    left: 403px;
    margin-top: -441px;
    position: relative;
    top: -18px;
    width: 600px;
}
.jellyfish #string3 {
    border-left: 15px solid #000000;
    border-radius: 0 0 0 401px;
    height: 473px;
    left: 502px;
    margin-top: -441px;
    position: relative;
    top: -12px;
    width: 600px;
}
.jellyfish #string4 {
    border-left: 15px solid #000000;
    border-radius: 0 0 0 301px;
    height: 481px;
    left: 601px;
    margin-top: -489px;
    position: relative;
    top: -5px;
    width: 600px;
}



.jellyfish hr#one {
    border: 6px solid #000;
    margin-top: 200px;
    left: -10px;
    position: relative;
    width: 620px;
}

.jellyfish hr#two {
    border: 6px solid #000;
    margin-top: 200px;
    left: -10px;
    position: relative;
    width: 620px;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari and Chrome */
    -o-transform: rotate(90deg); /* Opera */
    -moz-transform: rotate(90deg); /* Firefox */
    
    
    transform: skew(90deg,20deg);
    -ms-transform: skew(90deg,20deg); /* IE 9 */
    -webkit-transform: skew(90deg,20deg); /* Safari and Chrome */
    -o-transform: skew(90deg,20deg); /* Opera */
    -moz-transform: skew(90deg,20deg); /* Firefox */

}

/*
 * 
 * DOG
 * 
 */

.dog { 
    margin-bottom: 520px;
}
.dog #splash {
    background-image: url("/images/pines.jpg");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 450px auto;
    border-left: 10px solid #000000;
    border-radius: 30px 30px 0 0;
    border-right: 10px solid #000000;
    border-top: 10px solid #000000;
    border-bottom: 10px solid #000000;
    height: 175px;
    left: 582px;
    margin-top: -51px;
    position: relative;
    top: 165px;
    width: 173px;
}

.dog #splash2 {
    background-image: url("/images/pines.jpg");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 450px auto;
    border-top: 10px solid #000000;
    border-bottom: 10px solid #000000;
    border-left: 10px solid #000000;
    border-radius: 0 0 30px 30px;
    border-right: 10px solid #000000;
    height: 164px;
    left: 291px;
    margin-top: -189px;
    position: relative;
    top: 333px;
    width: 300px;
}

.dog #tail {
    border-left: 15px solid #000000;
    border-radius: 500px 0 0 0;
    height: 225px;
    left: -82px;
    margin-top: -204px;
    position: relative;
    top: 4px;
    width: 524px;
    z-index: -1;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari and Chrome */
    -o-transform: rotate(-90deg); /* Opera */
    -moz-transform: rotate(-90deg); /* Firefox */
    
}   

.dog #string1 {
    border-right: 15px solid #000000;
    border-radius: 0 0 100px 0;
    height: 225px;
    left: 295px;
    margin-top: -16px;
    position: relative;
    top: -15px;
    width: 600px;
}
.dog #string2 {
    border-right: 15px solid #000000;
    border-radius: 0 0 100px 0;
    height: 225px;
    left: 463px;
    margin-top: -441px;
    position: relative;
    top: 191px;
    width: 600px;
}

.dog #legs {
    left: -536px;
    position: relative;
    top: 315px;}


@media (max-width: 480px) {
    .changes #col2 {
        margin-left: 50px;
    }
    .changes #col2 img {
        width: 200px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .changes #col2 {
        margin-left: 50px;
    }
    .changes #col2 img {
        width: 200px;
    }
}

@media (max-width: 767px) {
    .changes #col2 {
        margin-left: 50px;
    }
    .changes #col2 img {
        width: 200px;
    }
}
