{% extends "base.html" %}

{% block pagetitle %}CSS3 Shapes{% endblock %}
{% block pageid %}shapes{% endblock %}

{% block content %}
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
          <div class="col-md-12">
<section class="jellyfish">
    <p id="splash"> </p>
    <p id="splash2"> </p>
    
    <div id="strings">
        <p id="string1"> </p>
        <p id="string2"> </p>
        <p id="string3"> </p>
        <p id="string4"> </p>
    </div>
     
    <br style="clear: both" />    
</section>

      </div>
    </div>
{% endblock %}