{% extends "templates/base.html" %}

{% block pagetitle %}Open-Source{% endblock %}
{% block pageid %}opensource{% endblock %}

{% block content %}

<h1>Open-Source and other contributions</h1>

<div class="col1">

<article>
<ul>
    <li>
        <p><a href="https://github.com/timotheus/ebaysdk-python">ebay-sdk-python</a></p>
        <p>This SDK supports all public eBay services and other traditional REST style APIs.</p>
    </li>    
</ul>
</article>

<article>
<ul>
    <li>
        <p><a href="https://github.com/timotheus/ebay-api-simple">eBay::API::Simple</a></p>
        <p>This SDK supports all public eBay services and other traditional REST style APIs.</p>
    </li>    
</ul>
</article>

<article>
<ul>
    <li>
        <p><a href="http://code.google.com/p/gantry/">Gantry - Perl Web Application Framework</a></p>
        <p>This framework allows for a pragmatic, modular approach to URL dispatching. Supports MVC and rapid development, offering an organized coding scheme for web applications.</p>
    </li>    
</ul>
</article>

<article>
<ul>
    <li>
        <p><a href="http://code.google.com/p/bigtop/">Bigtop</a></p>
        <p>Bigtop is a language for describing the data of a web application. Usually this data will be stored in a relational database. Once you have a description of your data, you can generate a web application from it. This includes all the pieces you need like: the sql statements ready for feeding to your database command line tool, the httpd.conf you need to Include in the httpd.conf on your system, the modules that will handle the web requests, the models that make the database tables look like classes, etc.</p>
        <p>If you need to alter the data model in the future, you can change your original description to match the new reality, then regenerate the application without fear of losing hand written code (though you may have to modify some of it to reflect the new reality).</p>
    </li>    
</ul>
</article>


<article>
<ul>
    <li>
        <p><a href="http://search.cpan.org/~tkeefer/">CPAN Contributions</a></p>
        <p>ACH::Builder, eBay::API, Text-FixedLength</p>
    </li>    
</ul>
</article>



</div>
    
{% endblock %}